body {
    background: url('pyradio_256.png') no-repeat right 30px top 30px fixed;
    background-color: #303030;
    color: #B0B0B0;
    font-family: "Verdana", sans;
    display: inline-block;
}

a {
    color: #FFFFFF;
    cursor: pointer;
}

div.statusDiv {
    background-color: #404040;
    border: 1px solid #B0B0B0;
    padding: 10px;
}

div.menuDiv {
}

div.resultDiv {
    color: #FF8080;
    padding: 10px;
}

span.warningSpan {
    color: #FF8080;
    font-weight: bold;
}

